.home {
  background-image: url("/public/images/bg.jpg");
  background-size: cover; /* Изображение заполняет весь контейнер */
  background-position: center; /* Центрируем изображение */
  background-repeat: no-repeat; /* Не повторяем изображение */
  height: calc(100vh - 60px); /* Высота на весь экран */
  padding: 0;
  margin-top: 0; /* Убираем маржин */
  padding-top: 70px; /* Отступ для компенсации фиксированного навбара */
  color: #fff;
}
.card {
  width: 18rem;
}
